body {
    background: rgb(255, 185, 185);

}

h1 {
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-size: 30px;
}

a:hover {
    font-size: 32px;
    color: aliceblue;
}

.deco {
    color: aqua;


}

.deco2 {
    color: blueviolet;
}

.deco3 {
    color: aquamarine;
}