/* html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    background-color: beige;
    display: block;
} */

.Click {
    position: absolute;
    right: 200px;
    left: 500px;
    top: 500px;
    width: 50;
    height: 40;
}

#image {
    width: 100%;
    height: auto;
}

#image2 {
    position: absolute;
    right: 300px;
    left: 500px;
    top: 350px;

}