html,
body {
  margin: 0px;
  padding: 0px;
  position: absolute;
  /* left: 200px; */
}

canvas {
  background-color: beige;
  display: block;
}

.Click {
  position: absolute;
  right: 200px;
  left: 600px;
  top: 500px;
  /* bottom:;  */
}

#canvasContainer {
  position: relative;
  /* margin-left: 200px; */
  margin-left: 120px;
}

.text {
  text-align: center;
  font-style: inherit;
  /* left: 100px; */
  margin-left: 400px;
  /* margin-top: 0px; */
}